[Unit]
Description=Casa service
After=oxauth.service

[Service]
Type=forking
ExecStart=%(distFolder)s/scripts/casa start
ExecStop=%(distFolder)s/scripts/casa stop
User=%(service_user)s
Group=gluu
TimeoutSec=300

[Install]
WantedBy=multi-user.target
