[Unit]
Description=Casa service
After=oxd-server.service
Requires=oxd-server.service

[Service]
Type=forking
ExecStart=%(distFolder)s/scripts/casa start
ExecStop=%(distFolder)s/scripts/casa stop
User=%(service_user)s
Group=gluu
TimeoutSec=450
ExecStartPre=/usr/bin/sleep 210

[Install]
WantedBy=multi-user.target
