[Unit]
Description=fido2 service
After=oxauth.service

[Service]
Type=forking
ExecStart=%(distFolder)s/scripts/fido2 start
ExecStop=%(distFolder)s/scripts/fido2 stop
User=%(service_user)s
Group=gluu
TimeoutSec=300

[Install]
WantedBy=multi-user.target
