[Unit]
Description=OpenDJ Directory Service
After=syslog.target
Before=oxauth.service

[Service]
Environment=OPENDJ_JAVA_HOME=/opt/jre
Type=simple
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/opt/opendj/bin/start-ds
ExecStop=/opt/opendj/bin/stop-ds
User=ldap
Group=ldap

[Install]
WantedBy=multi-user.target
