[Unit]
Description=Oxauth service
After=%(start_oxauth_after)s

[Service]
Type=forking
ExecStart=%(distFolder)s/scripts/oxauth start
ExecStop=%(distFolder)s/scripts/oxauth stop
User=%(service_user)s
Group=gluu
TimeoutSec=300

[Install]
WantedBy=multi-user.target
