[Unit]
Description=oxd-server daemon
After=network.target

[Service]
Type=forking
ExecStart=/opt/oxd-server/bin/oxd-server start
ExecStop=/opt/oxd-server/bin/oxd-server stop
RemainAfterExit=yes
User=%(thisServiceName)s
Group=gluu
TimeoutSec=300

[Install]
WantedBy=multi-user.target
